$primary-color: #0389ff;
$secondary-color: #F6F9FF;
$ternary-color: #E6F4F1;
$quarternary-color: #414656;

$light-background: #d1e9ff;

$background-color: #6ebbff;
$strong-shadow: rgba(0, 0, 0, 0.35);
$light-danger: #FFE3E3;
