@import '../../../styles/variables.scss';

input[type="email"],  input[type="password"]{
    box-sizing: border-box;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: white;
    width: 100%;
    outline: none;
    border: 1px solid $primary-color;

}

input[type="email"]:focus,input[type="password"]:focus {

    border: 1px solid $primary-color;

}

// input[type="email"],  input[type="password"]: {

//     border: 1px solid $primary-color;

// }

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

span {
    font-weight: bold;
}