@import "../../../styles/variables.scss";

button {

    background-color: $primary-color;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: 0.5;
    cursor: pointer;

}

button:hover {

    opacity: 0.8;

}